@{
    ViewData["Title"] = "DownloadSecurities";
}
@using System.Diagnostics.Eventing.Reader
@model Dictionary<int, BrokerRepositorySecurity>
<div>
    <h3 class="display-4">Скачивание инструмента с сайта финам</h3>

    <form asp-action="DownloadSecurities" asp-controller="Home" asp-antiforgery="true">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col justify-content-center">
                    <input placeholder="Название инструмента для поиска" class="form-control lbl-primary" accesskeyasp-type="text" name="security_name" id="security_name" value="@ViewBag.SecName" />
                </div>
                <div class="col justify-content-center">
                    <input class="btn-primary" type="submit" value="Найти инструмент" />
                </div>
                <div class="col justify-content-center">
                    <label for="security_id" class="lbl-primary">Найденные инструменты</label>
                </div>
                <div class="col justify-content-center">
                    <select-broker-repository-securities name="security_id" id="security_id" class="form-control lbl-primary" elements="@ViewBag.SecuritiesDictionary"></select-broker-repository-securities>
                </div>
            </div>
        </div>
    </form>

    @if (@ViewBag.SecuritiesDictionary != null)
    {
        <list-broker-repository-securities class="myclass" name="security_id2" elements="@ViewBag.SecuritiesDictionary"></list-broker-repository-securities>
    }
    else
    {
        <h3>Уточните поиск, элементы не найдены или их больше 30</h3>
    }
</div>
