@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="http://export.finam.ru/SPFB.Si-3.20_200302_200302.txt?market=17&em=493382&code=SPFB.Si-3.20&apply=0&df=2&mf=2&yf=2020&from=02.03.2020&dt=2&mt=2&yt=2020&to=02.03.2020&p=1&f=SPFB.Si-3.20_200302_200302&e=.txt&cn=SPFB.Si-3.20&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=12&at=1">скачать файл</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
